.venv
__pycache__
.env
.vscode
.DS_Store
# Added by code-review-graph
.code-review-graph/

.claude
CLAUDE.md
.gemini
.agent
.kiro/
.task

.cursor
.windsurfrules
.windsurf
.mcp.json
.opencode.json
AGENTS.md
.cursorrules
